body{
    background-color: rgb(38, 38, 38);
}

.card{
    margin: auto;
    margin-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 75px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    justify-content: center; 
    display: flex;
    font-family: "Manjari", sans-serif;   
}

.container{
    color: white;
    box-sizing: border-box;
    margin-top: 50px;
    margin-bottom: 150px;   
}
/* .row>* {
height: 300px;
height: 600px;
} */

.img-phone{
    width:90%;
}
.texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 105px;
    padding-left: 7%;
    font-size: 30px;
    font-family: "Manjari", sans-serif;;
    text-align: center;


}
input{
    border: white;
    box-shadow: 1px 2px 6px white;
    height: 30px;
}

.modulos{
    padding-top: 150px;
    padding-bottom: 100px;
}
.sectionlist{
    margin-top: -50px;
}


.containerlibro{
    background-color: rgb(116, 71, 231);
    padding-top: 1px;
    padding-bottom: 1px;
}

.libro{
    width: 325px;
    height: 400px;
    box-shadow: 7px 7px 8px rgb(48, 48, 48);
}
.imglibro{
    width: 320px;
}
.chiquita{
    width: 40px;
}
.todito{
    display: flex;
    align-items: center;
    padding-left: 135px;
    padding-top: 97px;
}
.textos{
    margin-left: 100px;
    text-align: center;
}
.imagen{
    width: 60px;
    height: 60px;
    margin-bottom: 2rem;
}

.salir{
    overflow: clip;
        position: fixed;
        bottom: 50px;
        padding-top: 70px;
        color: black;
        right: 10px;
        cursor: pointer;
}