.bg-gray{background-color: rgb(177, 176, 176);}
.cuadrito {
    max-width: 331px;
    border-radius: 110px;
}
.fotito{
    max-width: 100px;
}
.form-control{
    width: 90%;
    margin-left: 5%;
}
.img{
    margin-top: -8%;
    margin-left: -6%;
}